In [11]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "matplotlib-challenge/data/Mouse_metadata.csv"
study_results_path = "matplotlib-challenge/data/Study_results.csv"
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [13]:
# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [14]:
mouse_metadata

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]

In [15]:
study_results

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

In [24]:
# Combine the data into a single dataset

resultsDF = study_results.merge(mouse_metadata,how='left', on='Mouse ID')

In [25]:
resultsDF

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,f932,0,45.000000,0,Ketapril,Male,15,29
2,g107,0,45.000000,0,Ketapril,Female,2,29
3,a457,0,45.000000,0,Ketapril,Female,11,30
4,c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1888,r944,45,41.581521,2,Capomulin,Male,12,25
1889,u364,45,31.023923,3,Capomulin,Male,18,17
1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1891,x773,45,58.634971,4,Placebo,Female,21,30
1892,b879,45,72.555239,2,Stelasyn,Female,4,26

In [26]:
# Display the data table for preview
resultsDF.head(50)

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25
5,h246,0,45.0,0,Ketapril,Male,13,30
6,p189,0,45.0,0,Ketapril,Male,8,28
7,n923,0,45.0,0,Ketapril,Male,19,30
8,q119,0,45.0,0,Ketapril,Male,17,30
9,f993,0,45.0,0,Naftisol,Male,21,28
10,z234,0,45.0,0,Naftisol,Female,19,27
11,b559,0,45.0,0,Naftisol,Male,20,26
12,y260,0,45.0,0,Ketapril,Female,7,25
13,x930,0,45.0,0,Naftisol,Male,13,26
14,o725,0,45.0,0,Naftisol,Male,4,26
15,z969,0,45.0,0,Naftisol,Male,9,30
16,v835,0,45.0,0,Naftisol,Male,7,29
17,r604,0,45.0,0,Naftisol,Male,7,30
18,n304,0,45.0,0,Naftisol,Male,9,26
19,l700,0,45.0,0,Naftisol,Female,18,27
20,x336,0,45.0,0,Naftisol,Female,4,29
21,l725,0,45.0,0,Naftisol,Female,8,26
22,m133,0,45.0,0,Naftisol,Female,2,26
23,v295,0,45.0,0,Naftisol,Female,2,27
24,a818,0,45.0,0,Naftisol,Female,12,28
25,y601,0,45.0,0,Naftisol,Female,23,25
26,t724,0,45.0,0,Naftisol,Female,2,25
27,k382,0,45.0,0,Ketapril,Male,22,29
28,w422,0,45.0,0,Ketapril,Female,18,26
29,c326,0,45.0,0,Infubinol,Female,18,25
30,c139,0,45.0,0,Infubinol,Male,11,28
31,v339,0,45.0,0,Infubinol,Male,20,26
32,a577,0,45.0,0,Infubinol,Female,6,25
33,y163,0,45.0,0,Infubinol,Female,17,27
34,k483,0,45.0,0,Infubinol,Female,20,30
35,k804,0,45.0,0,Infubinol,Female,23,29
36,o809,0,45.0,0,Infubinol,Male,3,25
37,z581,0,45.0,0,Infubinol,Female,24,25
38,a251,0,45.0,0,Infubinol,Female,21,25
39,i386,0,45.0,0,Infubinol,Female,23,29
40,c580,0,45.0,0,Ketapril,Male,22,25
41,q132,0,45.0,0,Infubinol,Female,1,30
42,u327,0,45.0,0,Ketapril,Male,17,25
43,v603,0,45.0,0,Ketapril,Female,22,30
44,f278,0,45.0,0,Ketapril,Male,12,30
45,g497,0,45.0,0,Ketapril,Male,19,28
46,d474,0,45.0,0,Ketapril,Male,18,27
47,o973,0,45.0,0,Ketapril,Female,11,29
48,c832,0,45.0,0,Ketapril,Male,18,29
49,o331,0,45.0,0,Ketapril,Male,24,30

In [28]:
# Checking the number of mice.
clean_results = resultsDF.drop_duplicates()

In [29]:
clean_results

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,f932,0,45.000000,0,Ketapril,Male,15,29
2,g107,0,45.000000,0,Ketapril,Female,2,29
3,a457,0,45.000000,0,Ketapril,Female,11,30
4,c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1888,r944,45,41.581521,2,Capomulin,Male,12,25
1889,u364,45,31.023923,3,Capomulin,Male,18,17
1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1891,x773,45,58.634971,4,Placebo,Female,21,30
1892,b879,45,72.555239,2,Stelasyn,Female,4,26

In [34]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

duplicateRowsDF = resultsDF[resultsDF.duplicated()]

In [35]:
duplicateRowsDF

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
137,g989,0,45.0,0,Propriva,Female,21,26

In [ ]:
# Checking the number of mice in the clean DataFrame.

In [51]:
len(clean_results)

1892

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.